{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Tipo de Documento</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('tipodocumento') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver al listado
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
