{% extends 'base.html.twig' %}

{% block body %}
    <h1>Se ha producido un error</h1>

    <p>
 	Se produjo un error, contante al área de soporte técnico para resolver el problema. <BR/> 
	Para volver al inicio haga click en el siguiente enlace  <a href="/">Volver al a página de inicio</a>.
    </p>
{% endblock %}
