{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acceso restringido</h1>

    <p>
 	Usted no tiene los permisos para ver la página que está intentando acceder.<BR/> 
	Para volver al inicio haga click en el siguiente enlace  <a href="/">Volver al a página de inicio</a>.
    </p>
{% endblock %}
