{% extends 'base.html.twig' %}

{% block body %}
    <h1>P치gina no encontrada</h1>

    <p>
 	La p치gina que est치 intentando acceder no existe o fue dada de baja.<BR/> 
	Para volver al inicio haga click en el siguiente enlace  <a href="/">Volver al a p치gina de inicio</a>.
    </p>
{% endblock %}
