 {% extends '::base.html.twig' %}
 
 {% block body -%}
    <h1>Editar Registro</h1>
    {{ form(edit_form) }}
         <ul class="record_actions">
     <li>
        <a class="btn btn-default btn-sm" href="{{ path('registro') }}">
             <span class="glyphicon glyphicon-chevron-left"></span> Volver al listado
        </a>
        
        <a class="btn btn-default btn-sm" href="{{ path('registrocontrolcambios', { 'idRegistro': entity.id }) }}">
				 <span class="glyphicon glyphicon-time"></span> Gestionar Control Cambios        
        </a>
                

     </li>
    <li>{{ form(delete_form) }}</li>
 </ul>

{% block javascripts %} 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.9.1.js"></script>
 <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script>
	  $(function() {
			 $("#cespi_bundle_isobundle_registro_fechaUltimaActualizacion").datepicker({ dateFormat: "dd/mm/yy" }); 
		});
  </script>

{% endblock %} 
{% endblock %}
