{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modificar el campo del registro </h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('campos_registro', { 'idRegistro': entity.idRegistro }) }}">
             <span class="glyphicon glyphicon-arrow-left"></span> Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
