{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear un nuevo alcance</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('alcances') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
