{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Roles</h1>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				<td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('rol_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-default btn-sm" href="{{ path('rol_new') }}">
                Crear Rol
            </a>
        </li>
    </ul>
    {% endblock %}
