{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar Documento</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default btn-sm" href="{{ path('documento') }}">
            <span class="glyphicon glyphicon-chevron-left"></span> Volver al listado
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block javascripts %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
   $(function() {
       $("#cespi_bundle_isobundle_documento_fechaAprobado").datepicker({ dateFormat: "dd/mm/yy" });
       $("#cespi_bundle_isobundle_documento_fechaCreacion").datepicker({dateFormat: "dd/mm/yy"});
       $("#cespi_bundle_isobundle_documento_fechaVigencia").datepicker({dateFormat: "dd/mm/yy"});
       $("#cespi_bundle_isobundle_documento_fechaRevision").datepicker({dateFormat: "dd/mm/yy"});
        });
        </script>
{% endblock%}
