<div style="margin-right: 5px">

    <a href="{{ path('documento_new') }}" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-file"></span> Crear nuevo Documento
    </a>

    <a href="{{ url_exportar }}" class="btn btn-default btn-sm">  
        <span class="glyphicon glyphicon-export"></span> Exportar 
    </a>
</div>